body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin: 0;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    margin-bottom: 50px;
}

#form-container {
    width: 75%;
    height: 75%;
    justify-content: center;
    background-color: #1a191a;
    color:aliceblue;
    border-radius: 15px;
}

#password-form {
    gap: 20px;
    padding: 20px;
}

#password-group {
    position: relative;
}

#togglePassword {
    position: absolute;
    top: 7px;
    right: 9px;
}

#password-bar {
    height: 7px;
    width:100%;
    background:#ccc;
    border-radius: 4px;
    /* overflow: hidden; */
}

#password-strength {
    width: 0;
    height: 100%;
    display: block;
    transition: width 0.3s;
}

#toggle-requirements {
    position: absolute;
    top: 6px;
    right: -30px;
    background-color: transparent;
    color: white;
    border: none;
    anchor-name: --myAnchor;
}

#compromised-info, #similarity-info {
    color: red;
    display: none; 
    /* option - opacity */
}

#requirement-list {
    list-style-type: none;
}

.requirement-checked:before {
    content: "✓ ";
    color: green;
}

.input-style {
    padding-right: 30px;
}

.flex-row{
    display: flex;
    gap: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#requirement-popover {
    margin: 0;
    position-anchor: --myAnchor;
    left: anchor(right);
    align-self: anchor-center;
  }
